@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dancing+Script&family=Indie+Flower&family=Lemonada:wght@300&family=Libre+Baskerville&family=Linden+Hill:ital@0;1&family=Marcellus&family=Merienda&family=Oooh+Baby&family=Pacifico&family=Paytone+One&family=Poppins:wght@300&family=Rubik+Moonrocks&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-----HEADER------*/

header nav{
    background: #F8F2ED ;  
    font-family:'DM Sans', sans-serif;
    text-align: center;
    height: auto;
}

.nav-link{
    font-size: 14px;
    color: rgb(4, 4, 4);
    text-align: justify;
}

.navbar img{
    justify-content: center;
}

/*-------BODY------*/
body{
    background-color: #F8F2ED ;
    font-family:'DM Sans', sans-serif;
}

/*-------MAIN INDEX------*/

.carousel-item img{
    height:60vh; 
background-size:auto;
} 

h5{
    font-family:Arial, Helvetica, sans-serif;
    color:#fdfbfa;
    text-shadow: #333;
}

.visiones{
    display: flex;
    background-color: #aba378;
    justify-content: space-around;
    color: #faf7f7;
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    width: auto;
}

.vision{
    text-align: center;
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.vision p{
    width: 350px;
}
.vision img{
    width: 100px;
    height: 130px;
    padding-bottom: 20px;
}

.prsentacion h2{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #31322fcb;
}

.presentacion div {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display:inline-flexbox;
}


.presentacion div div {
        width: 500px;
        height: 500px;
        text-align: center;
        background-color:none;
        font-size: 16px;
        cursor: default;
        transition: all 400ms ease;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }

.presentacion div div:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%); }

        .presentacion div div img {
        width: 500px;
        height: 500px;
        object-fit: cover;
}

.presentacion div div a {
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-family: 'Libre Baskerville', serif;;
}

.nosotrosbanner{
    background-color: #829067 ;
    margin-top: 80px;
}

.nosotros{
    display:flex;
    color: #fff;
    font-family: 'Marcellus', serif;
    font-size: 18px;
    text-align: center;
    margin:80px;
}

.nosotros h4{
font-size: 50px;
margin-top: 80px;
}

.nosotros p{
margin-top: 20px;
font-family:'DM Sans', sans-serif;
}

.nosotrosbanner img{
width: 350px;
height: 250px;
margin: 30px;
}

.propositos{
    background-color:#cc723f; 
    margin-top: 80px;
    
}

.clasprop{
display: flex;
    color: #fff;
    font-family: 'Marcellus', serif;
    font-size: 18px;
    text-align: center;
    margin:20px;
    margin-left: 10px;
}

.clasprop h4{
font-size: 50px;
margin-top: 40px;
}

.propositos p{
padding: 20px;
margin: 20px;
font-family:'DM Sans', sans-serif;
}

.propositos img{
width: 280px;
height: 280px;
margin: 20px;
margin-left: 50px;
}

/*-------------HIDROLATOTERAPIA------------------*/

.hidrolatos{
    background-color: white;
}
.cuidados h2{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #31322fcb;
}

.cuidados div {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display:inline-flexbox;
 }


.cuidados div div {
        width: 315px;
        height: 315px;
        text-align: center;
        background-color:none;
        font-size: 16px;
        cursor: default;
        transition: all 400ms ease;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }

.cuidados div div:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%); }

        .cuidados div div img {
        width: 315px;
        height: 318px;
}

.cuidados div div a {
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-family: 'Libre Baskerville', serif;;
}

/*-----------PRODUCTOS DESCRIPCION--------------*/

.rosafondo{
    background-color: white;
}
.rosas{
    display: flex;
    justify-content:center;
    margin: 50px;
}

.hr{
    border: 0;
border-top: 2px solid #999; 
border-bottom: 2px solid #333;
height:0;
}
.rosas div{
    width: 50%;
    text-align: justify;
}

.rosas p{
    margin-left: 10px;
    font-size: 36px;
    color:#829067;
}
.rosas h2{
    margin-left: 10px;
    color:#829067;
    font-size: 26px;
    font-style: normal;
    font-family: 'Libre Baskerville', serif;
}

.foto{
object-fit: cover;
width: 300px;
height: 400px;
margin-right: 30px;
}

.rosas h3{
    font-size: 14px;
    margin-left: 11px;
    color: grey;

}

.sublogo{
    margin: 10px;
    width: 30px;
    height: 30px;
}

.descripcion{
text-align: justify;
margin: 60px;
}

.descripcion h3{
    text-align: center;
    margin-bottom: 35px;
}
/*-----------TODO--------------*/

.cuidadoss{
    background-color: white;
}

.cuidadoss h2{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #31322fcb;
}

.cuidadoss div {
    margin:  30px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display:inline-flexbox;
}


.cuidadoss div div {
        width: 250px;
        height: 250px;
        text-align: center;
        background-color:none;
        font-size: 16px;
        cursor: default;
        transition: all 400ms ease;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }

.cuidadoss div div:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%); }

        .cuidadoss div div img {
        width: 250px;
        height: 250px;
}

.cuidadoss div div a {
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-family: 'Libre Baskerville', serif;;
}



/*-------FOOTER--------*/

.footer{
    background-color: white;
}
#mail{
    text-decoration: none;
    color: #333;
}

.contacto{
    display: flex;
    justify-content:space-evenly;
    margin:20px;
    background-color: white;
}

#contacto h4{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.formu{
    width: 450px;
    margin: auto;
    margin-top: 20px;
    color: rgb(8, 8, 8);
    text-align: center;
    font-family:'DM Sans', sans-serif;
    box-sizing: border-box;

}

/*-------MEDIA QUERIES-------*/

/*-------INDEX--------*/
@media screen and (max-width:765px) {
    .carousel-item img{
        height:30vh; 
    background-size:auto;
    }

    .visiones{
        flex-direction: column;
}
}

@media screen and (max-width:1163px) {
    .visiones{
        font-size: 12px;
        width: auto;
    }

    .vision{
        margin: auto;
    }
    
    .vision p{
        width: auto;
    }
    .vision img{
        width: 60px;
        height: 90px;
        padding-bottom: 20px;
    }
    

    .presentacion div div {
        width: 400px;
        height: 400px;

    }

    .presentacion div div img{
        width: 400px;
        height: 400px;

    }
}


@media screen and (max-width:968px) {
    .presentacion div div {
        width: 250px;
        height: 250px;
    }

    .presentacion div div img{
        width: 250px;
        height: 250px;

    }
}

@media screen and (max-width:990px) {

.nosotros{
flex-wrap: wrap;
margin:auto;
}

.nosotros p{
    font-size: 14px;
    margin: 20px;
}
.nosotros h4{
font-size: 20px;
margin: 20px;
}

.nosotrosbanner img{
width: auto;
height: 150px;
margin: auto;
margin-bottom: 20px;

}
.clasprop{
flex-wrap: wrap;
align-items: center;
font-size: 14px;
}
.clasprop h4{
    font-size: 25px;
    margin: auto;
    margin-top: 20px;
}
.propositos img{
width: auto;
height: 200px;
margin: auto;
margin-top: 20px;
}

}


@media screen and (max-width:810px) {
.contacto{
    flex-wrap: wrap;
}

.formu{
    width: auto;
}
}

@media screen and (max-width:630px) {
.rosas{
    flex-wrap: wrap;
    font-size: 14px;
}

.descripcion{
    font-size: 14px;
}
.foto{
    object-fit: cover;
    width: 150px;
    height: 300px;
    margin-right: 30px;
    }   

}